@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Guid orgGuid = (Guid)ViewData["selectedGUID"];
}

<h2>Enter Place Info</h2>

<div class="container-form">
    <form action="/Form/PlaceForm" method="post" autocomplete="off">
        <div>
            <span>Place Name</span>
            <input type="text" name="placeName" required /><br />
        </div>
        <div>
            <span>Category</span>
            <select name="categorySelection" required>
                <option value="Eateries">Pubs & Eateries</option>
                <option value="Shopping">Shopping</option>
                <option value="Salons">Salons & Jewelers</option>
                <option value="Theater">Theaters & Venues</option>
                <option value="Art">Museums & Art Venues</option>
                <option value="Hotels">Hotels</option>
                <option value="Parks">Parks</option>
                <option value="Education">Education</option>
                <option value="Gyms">Gyms & Pools</option>
                <option value="Professional">Professional Services</option>
                <option value="Banks">Banks</option>
                <option value="Parking">Public Parking (free)</option>
            </select>
        </div>
        <div>
            <span>Summary</span>
            <textarea name="summary" rows="5" cols="100" required></textarea>
        </div>
        <div>
            <span>Description</span>
            <textarea name="placeDescription" rows="5" cols="100" required></textarea>
        </div>
        <div>
            <span>Address</span>
            <input type="text" name="address" required />
        </div>
        <div>
            <span>Phone Number</span>
            <input type="tel" name="phoneNumber"
                   pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required />
        </div>
        <div>
            <span>Website</span>
            <input type="url" name="website" required />
        </div>
        <div>
            <span>Lattitude</span>
            <input type="number" step="any" name="lattitude" required />
        </div>
        <div>
            <span>Longitude</span>
            <input type="number" step="any" name="longitude" required />
            <input type='hidden' name='organGuid' value=@orgGuid />
        </div>
        <div id="submit">
            <input type="submit" value="Add Place" />
        </div>
    </form>
</div>
