@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Enter Place Info";
}

<h2>Enter Place Info</h2>

<div class="container-form">
    <form action="/Form/FormOne" method="post" autocomplete="off">
        <div>
            <span>Place Name</span>
            <input type="text" name="placeName" /><br />
        </div>
        <div>
            <span>Summary</span>
            <textarea name="summary" rows="10" cols="100"></textarea>
        </div>
        <div>
            <span>Place Description</span>
            <textarea name="placeDescription" rows="10" cols="100"></textarea>
        </div>
        <div>
            <span>Address</span>
            <input type="text" name="address" />
        </div>
        <div>
            <span>Phone Number</span>
            <input type="tel" name="phoneNumber" 
             pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required/>
        </div>
        <div>
            <span>Website</span>
            <input type="email" name="website" />
        </div>
        <div>
            <span>Lattitude</span>
            <input type="number" name="lattitude" />
        </div>
        <div>
            <span>Longitude</span>
            <input type="number" name="longitude" />
        </div>
        <div id="submit">
            <input type="submit" value="Add Place" />
        </div>
    </form>
</div>
