@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Enter Tour Info";
    Guid orgGuid = (Guid)ViewData["selectedGUID"];

}
<!-- Authors: Mike Bastian,
              Ben Rose,
              Erin Loehr

    Description: 
-->
<h2>Enter Tour Info</h2>
<div class="container-form">
    <form action="/Form/TourForm" method="post" autocomplete="off">
        <div>
            <span>Tour Name</span>
            <input type="text" name="tourName" required />
        </div>
        <div>
            <span>Summary</span>
            <textarea name="summary" rows="5" cols="100" required></textarea>
        </div>
        <div>
            <span>Description</span>
            <textarea name="tourDescription" rows="5" cols="100" required></textarea>
        </div>
        <div>
            <span>Website</span>
            <input type="url" name="url" required />
        </div>
        <div>
            <span>Book Now URL</span>
            <input type="url" name="bookNowUrl" required />
        </div>
        <div>
            <span>Duration</span>
            <input type="text" name="duration" required />
        </div>
        <div>
            <span>Cost</span>
            <input type="number" step=".01" name="cost" required />
        </div>
        <div>
            <span>Group Size</span>
            <input type="text" name="groupSize" required />
        </div>
        <div>
            <span>Additional Info</span>
            <textarea name="additionalInfo" rows="5" cols="100" required></textarea>
            <input type='hidden' name='organGuid' value=@orgGuid />
        </div>
        <div id="submit">
            <input type="submit" value="Add Tour" />
        </div>
    </form>
</div>