@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@{
    ViewBag.Title = "Home Page";
}
<!-- Authors: Mike Bastian,
              Ben Rose,
              Erin Loehr

    Description: 
-->
<div class="jumbotron">
    <h1>Travel Content Manager</h1>
    <p class="lead">This site allows you to view, edit, and store information for your tours and events</p>
</div>

