@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Travel Content Manager</h1>
    <p class="lead">This site allows you to view, edit, and store information for your tours and events</p>
</div>

