@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Authors: Mike Bastian,
              Ben Rose,
              Erin Loehr

    Description: This is where the map is viewed with the connected paths.
-->
<!DOCTYPE html>
<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
      var startlocation = {lat: -25.344, lng: 131.036};
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 4, center: startlocation});
      var marker = new google.maps.Marker({position: startlocation, map: map});
      }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvNyUzVPp4lgZLtMbUwAot08O1YZ36M6A&callback=initMap"></script>
</body>
</html>

